footer {
  padding: 110px 15% 50px 5.6%;
  background: @footer-bg;
  width: 100%;
  .center(row, flex-start, flex-start, nowrap);

  .footer-contact {
    color: white;
    width: 39%;

    address {
      margin-top: 25px;
      margin-left: 2px;

      div {
        .center(row, flex-start, center, nowrap);
        font-size: 1.8rem;
        margin-bottom: 21px;

        img {
          margin-right: 4.4%;
        }
      }
    }
  }

  .footer-links-one {
    .center(column, flex-start, flex-start, nowrap);
    margin-top: 79px;

    a {
      color: white;
      margin-bottom: 22px;

      &:hover {
        color: @footer-link-hover;
      }
    }
  }

  .footer-links-two {
    .center(column, flex-start, flex-start, nowrap);
    margin-left: 17.2%;
    margin-top: 79px;

    a {
      color: white;
      margin-bottom: 22px;

      &:hover {
        color: @footer-link-hover;
      }
    }
  }

  .social-links {
    margin-top: 76px;
    margin-left: 16%;
    display: inline-block;
    .center(row, flex-start, flex-start, nowrap);

    svg {
      height: 30px;
      fill: white;
      margin-right: 14px;
    }
  }
}
