main {
  .home-header {
    margin-top: 70px;
    padding: 0 5.5% 0 5.5%;
    .center(row, space-between, flex-start, nowrap);

    .cta {
      margin-top: 90px;
      max-width: 50%;

      p {
        margin-top: 14px;
        max-width: 90%;
      }

      .inputs {
        .center(row, flex-start, flex-start, nowrap);

        .cta-text {
          margin-top: 26px;
          height: 45px;
          width: 49.9%;
          border: 1px solid @very-dark-blue;
          .border-radius(3px);
          padding-left: 3%;
          padding-top: 5px;
          font-size: 1.4rem;
          letter-spacing: 1px;
          color: @light-gray;
        }
        .cta-submit {
          margin-top: 26px;
          margin-left: 2.5%;
          .btn-template();
        }
      }
    }

    .header-img {
      margin-top: 15px;
      max-width: 50%;
    }
  }

  .content-productive {
    margin-top: 160px;

    .content-background {
      padding: 0;
      margin: 0 0 -10px 0;
    }

    .productive-content {
      padding: 67px 5.5% 109px 5.5%;
      background: #f7f7fe;
      .center(row, space-between, flex-start, nowrap);

      h2 {
        padding-bottom: 28px;
      }

      p {
        max-width: 73%;
        font-size: 1.6rem;
        line-height: 1.5;
        padding-bottom: 17px;
      }

      a {
        display: inline-block;
        position: relative;
        width: 166px;
        padding-bottom: 7px;
        font-size: 1.6rem;
        border-bottom: 1px solid @moderate-cyan;
        color: @moderate-cyan;
        margin-bottom: 45px;

        img {
          padding: 2px 0 0 4%;
          position: absolute;
        }
      }

      .quote {
        background: white;
        padding: 27px 0 0 4.5%;
        width: 355px;
        height: 215px;
        .border-radius(3px);
        -webkit-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.06);
        .center(column, flex-start, flex-start, nowrap);

        .quote-content {
          padding: 12px 0 15px;
          line-height: 2.3rem;
          font-size: 1.4rem;
          max-width: 90%;
        }

        .quote-picture-position {
          .center(row, flex-start, flex-start, nowrap);
          width: 100%;

          img {
            padding: o;
            max-width: 10%;
            .border-radius(50%);
          }

          .quote-person {
            width: 100%;
            padding: 0;
          }

          .quote-attribution {
            margin: 0;
            padding: 0 2%;
            font-size: 1.3rem;
          }

          .quote-position {
            margin: 0;
            padding: 0 2%;
            font-size: 0.9rem;
            width: 100%;
          }
        }
      }

      .productive-content-image {
        padding-top: 30px;
        max-width: 42.6%;
      }
    }
  }

  .content-access {
    .center(row, space-between, flex-start, nowrap);
    margin-top: -2px;
    padding: 105px 5.5% 88px 5.5%;
    background: @desaturated-blue;

    .access-text {
      width: 41%;

      h3 {
        color: white;
      }

      p {
        color: white;
        padding-top: 24px;
        font-size: 1.71rem;
        line-height: 1.41;
      }
    }

    .access-email {
      .center(column, flex-start, flex-start, nowrap);
      padding-top: 7px;
      width: 40.7%;

      .cta-email {
        height: 48px;
        width: 92%;
        .border-radius(3px);
        border: 0;
        padding-left: 23px;
        font-size: 1.2rem;
        color: @light-gray;
      }

      .cta-submit {
        margin-top: 16px;
        .btn-template();
        height: 48px;
      }
    }
  }
}
