main {
  .home-header {
    margin-top: 70px;
    padding: 0 5.5% 0 5.5%;
    .center(row, space-between, flex-start, nowrap);

    @media @tablet {
      .center(column-reverse, flex-start, center, nowrap);
    }

    .cta {
      margin-top: 90px;
      max-width: 50%;

      @media @tablet {
        max-width: 100%;
        width: 100%;
        margin-top: 75px;
        .center(column, flex-start, center, nowrap);

        h1 {
          width: 100%;
          text-align: center;
          font-size: 5.2rem;
          font-weight: bolder;
          line-height: 1.4;
        }
      }

      p {
        margin-top: 14px;
        max-width: 90%;

        @media @tablet {
          margin-top: 50px;
          text-align: center;
          font-size: 2.87rem;
          line-height: 1.47;
          .center(row, center, flex-start, nowrap);
        }
      }

      .inputs {
        .center(row, flex-start, flex-start, nowrap);

        @media @tablet {
          .center(column, flex-start, center, nowrap);
          width: 100%;
          margin: 38px 0;
        }

        .cta-text {
          margin-top: 26px;
          height: 45px;
          width: 49.9%;
          border: 1px solid @very-dark-blue;
          .border-radius(3px);
          padding-left: 3%;
          padding-top: 5px;
          font-size: 1.4rem;
          letter-spacing: 1px;
          color: @light-gray;

          @media @tablet {
            width: 100%;
            height: 80px;
            padding: 0 0 0 47px;
            width: 91%;
            font-size: 2.5rem;
          }
        }
        .cta-submit {
          margin-top: 26px;
          margin-left: 2.5%;
          .btn-template();

          @media @tablet {
            margin: 31px 0 0 0;
            width: 91%;
            height: 80px;
            font-size: 2.9rem;
          }
        }
      }
    }

    .header-img {
      margin-top: 15px;
      max-width: 50%;

      @media @tablet {
        margin-top: 120px;
        max-width: 92%;
      }
    }
  }

  .content-productive {
    margin-top: 160px;

    @media @tablet {
      margin-top: 142px;
    }

    .content-background {
      padding: 0;
      margin: 0 0 -10px 0;

      @media @tablet {
        width: 100%;
      }
    }

    .productive-content {
      padding: 67px 5.5% 107px 5.5%;
      background: #f7f7fe;
      .center(row, space-between, flex-start, nowrap);

      @media @tablet {
        .center(column-reverse, flex-start, center, nowrap);
        padding-bottom: 84px;
      }
      .productive-content-text {
        h2 {
          padding-bottom: 28px;

          @media @tablet {
            margin: 170px 0 20px;
            font-size: 3.35rem;
            text-align: center;
            width: 100%;
          }
        }

        p {
          max-width: 73%;
          font-size: 1.6rem;
          line-height: 1.5;
          padding-bottom: 27px;

          @media @tablet {
            font-size: 2.8rem;
            max-width: 100%;
          }
        }

        a {
          display: inline-block;
          position: relative;
          width: 166px;
          padding-bottom: 7px;
          font-size: 1.6rem;
          border-bottom: 1px solid @moderate-cyan;
          color: @moderate-cyan;
          margin-bottom: 45px;

          @media @tablet {
            display: block;
            margin: 55px auto 45px;
            font-size: 2.5rem;
            width: 260px;
            padding-bottom: 13px;
          }

          div {
            padding: 1px 0 0 2%;
            position: absolute;
            top: 0;
            right: 0;

            @media @tablet {
              width: 30px;
              padding-top: 2px;
            }

            img {
              @media @tablet {
                width: 100%;
              }
            }
          }
        }
      }
      .quote {
        background: white;
        padding: 27px 0 0 4.5%;
        width: 355px;
        height: 215px;
        .border-radius(3px);
        -webkit-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 0px 19px 2px rgba(0, 0, 0, 0.06);
        .center(column, flex-start, flex-start, nowrap);

        @media @tablet {
          margin: 80px auto;
          width: 84%;
          padding: 42px 8%;
          height: auto;
        }

        .quote-content {
          padding: 12px 0 15px;
          line-height: 2.3rem;
          font-size: 1.4rem;
          max-width: 90%;

          @media @tablet {
            margin-top: 18px;
            font-size: 2rem;
            max-width: 100%;
            line-height: 1.7;
          }
        }

        .quote-picture-position {
          .center(row, flex-start, flex-start, nowrap);
          width: 100%;

          @media @tablet {
            margin-top: 15px;
          }

          img {
            padding: 0;
            max-width: 10%;
            .border-radius(50%);
          }

          .quote-person {
            width: 100%;
            padding: 0;
          }

          .quote-attribution {
            margin: 0;
            padding: 0 2%;
            font-size: 1.3rem;

            @media @tablet {
              margin: 2px 0 0 2%;
              font-size: 1.7rem;
              letter-spacing: 2px;
            }
          }

          .quote-position {
            margin: 0;
            padding: 0 2%;
            font-size: 0.9rem;
            width: 100%;

            @media @tablet {
              padding: 3px 0 0 4%;
              font-size: 1.3rem;
            }
          }
        }
      }

      .productive-content-image {
        padding-top: 30px;
        max-width: 42.6%;

        @media @tablet {
          padding-top: 0;
          margin-top: 70px;
          max-width: 96%;
        }
      }
    }
  }

  .content-access {
    .center(row, space-between, flex-start, nowrap);
    padding: 105px 5.5% 88px 5.5%;
    background: @desaturated-blue;

    @media @tablet {
      .center(column, flex-start, center, nowrap);
    }

    .access-text {
      width: 41%;

      @media @tablet {
        width: 100%;
        margin-top: 5px;
      }

      h3 {
        color: white;

        @media @tablet {
          width: 100%;
          text-align: center;
          font-size: 3.8rem;
        }
      }

      p {
        color: white;
        padding-top: 24px;
        font-size: 1.71rem;
        line-height: 1.41;

        @media @tablet {
          margin: 18px auto;
          width: 85%;
          font-size: 2.7rem;
          line-height: 1.55;
          text-align: center;
        }
      }
    }

    .access-email {
      .center(column, flex-start, flex-start, nowrap);
      padding-top: 7px;
      width: 40.7%;

      @media @tablet {
        width: 100%;
      }

      .cta-email {
        height: 48px;
        width: 92%;
        .border-radius(3px);
        border: 0;
        padding-left: 23px;
        font-size: 1.2rem;
        color: @light-gray;

        @media @tablet {
          margin: 23px auto 0;
          width: 73%;
          height: 64px;
          font-size: 1.8rem;
        }
      }

      .cta-submit {
        margin-top: 16px;
        .btn-template();
        height: 48px;

        @media @tablet {
          margin: 16px auto;
          width: 73%;
          height: 64px;
          font-size: 1.8rem;
        }
      }
    }
  }
}
