.center(@direction, @justify, @align, @wrap) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
  flex-wrap: @wrap;
}

.border(@size: 1px, @style: solid, @color: black) {
  border: @size @style @color;
}

.border-radius(@size) {
  border-radius: @size;
  -moz-border-radius: @size;
  -webkit-border-radius: @size;
}

.btn-template() {
  border: none;
  width: 200px;
  height: 45px;
  background: @submit-button;
  .border-radius(3px);
  color: white;
  font-size: 1.35rem;
  font-weight: 700;
  -webkit-box-shadow: 11px 11px 20px -9px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 11px 11px 20px -9px rgba(0, 0, 0, 0.2);
  box-shadow: 11px 11px 20px -9px rgba(0, 0, 0, 0.2);
  outline-width: 0;

  &:hover {
    background: @very-dark-blue;
    cursor: pointer;
  }

  .footer {
    background: @footer-bg;
    padding-bottom: 300px;
  }
}
