.nav {
  margin: 65px 0 20px;
  padding: 0 5.5%;
  width: 100%;
  .center(row, flex-start, flex-start, no-wrap);

  @media @tablet {
    margin: 50px 0 0 1%;
  }

  .nav-logo {
    width: 40%;

    @media @tablet {
      width: 32%;
    }

    @media @mobile {
      width: 200px;
    }
  }

  .nav-bar {
    margin-top: 15px;
    width: 100%;
    .center(row, flex-end, flex-start, nowrap);

    @media @tablet {
      margin-right: 2%;
      margin-top: 10px;
    }

    @media @mobile {
      .center(column, flex-start, flex-end, nowrap);
      margin-top: 0;
    }

    a {
      color: @nav-links;
      margin-left: 55px;

      &:hover {
        color: darken(@light-gray, 20%);
      }

      @media @tablet {
        font-size: 2.45rem;
        margin-left: 9.5%;
      }

      @media @mobile {
        margin-bottom: 25px;
      }
    }
  }
}
