.nav {
  margin: 65px 0 20px;
  padding: 0 5.5%;
  width: 100%;
  .center(row, flex-start, flex-start, no-wrap);

  .nav-logo {
    width: 40%;
  }

  div {
    margin-top: 15px;
    width: 100%;
    .center(row, flex-end, flex-start, nowrap);

    a {
      color: @nav-links;
      margin-left: 55px;

      &:hover {
        color: darken(@light-gray, 20%);
      }
    }
  }
}
